# Latihan 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [4]:
print(len(df))

126314

In [8]:
print(df.shape)

(126314, 23)

In [9]:
pd.set_option("display.max.columns", 3)

In [11]:
print(df.head(2))

   gameorder  ... notes
0          1  ...   NaN
1          1  ...   NaN

[2 rows x 23 columns]

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB
None

In [13]:
print(df.describe())

           gameorder  ...       forecast
count  126314.000000  ...  126314.000000
mean    31579.000000  ...       0.500000
std     18231.927643  ...       0.215252
min         1.000000  ...       0.020447
25%     15790.000000  ...       0.327989
50%     31579.000000  ...       0.500000
75%     47368.000000  ...       0.672011
max     63157.000000  ...       0.979553

[8 rows x 13 columns]

# Latihan 2

In [14]:
import numpy as np
import pandas as pd

In [15]:
revenue = pd.Series([5555, 7000, 1980])

In [16]:
city_revenue = pd.Series([5000, 6000, 7000], index = ["Jakarta", "Bandung", "Surabaya"])

In [17]:
city_employee = pd.Series({"Jakarta" : 10, "Bandung" : 5, "Surabaya" : 15})

In [20]:
city_data = pd.DataFrame({"revenue": city_revenue, "Employee": city_employee})
print(city_data)

          revenue  Employee
Jakarta      5000        10
Bandung      6000         5
Surabaya     7000        15

In [21]:
print(city_data.axes)

[Index(['Jakarta', 'Bandung', 'Surabaya'], dtype='object'), Index(['revenue', 'Employee'], dtype='object')]

In [23]:
print(city_data.loc["Bandung":"Jakarta", "Employee"])

Series([], Name: Employee, dtype: int64)

In [25]:
print(city_data.loc["Bandung":"Jakarta", "revenue"])

Series([], Name: revenue, dtype: int64)